/senhas
/jupyter_notebook_testes
/env
airflow.cfg
airflow.db
airflow-webserver.pid
webserver_config.py
/logs
/env_2
airflow.db-journal
dags/__pycache__
/envs
/airflow/airflow.cfg
/airflow/logs
/airflow/airflow.db
/airflow/airflow.db-journal
/airflow/webserver_config.py
/airflow/airflow-webserver.pid

